/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v18-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v18-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/open-sans-v18-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}


@-ms-viewport{
	width:device-width;
}

 * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	-webkit-font-smoothing: antialiased;
	outline: none;
}

.animated {
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

body{
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	overflow-y: auto;
}

h2{
	font-size: 36px;
	font-weight: 700;
	margin-top: 0;
	line-height: 48px;
	color: black;
	margin-bottom: 35px;
}

h3{
	font-size: 32px;
	line-height: 20px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 35px;
}

h4{
	font-size: 20px;
	color: white;
	line-height: 31px;
	font-weight: 800;
	margin-bottom: 0;
}


h5{
	font-size: 20px;
	color: #00a5d3;
	line-height: 20px;
	font-weight: 600;
	margin-bottom: 25px;
}

p{
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	color: black;
	margin-bottom: 20px;
}

.white{
	color: white;
}

.black{
	color: black;
}

.div-center{
	display: inline-block;
	margin: 0 auto;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.float-none{
	float: none;
}

.wrapper{
	margin-top: 105px;
}

header{
	background-color: #252525;
	position: fixed;
	top: 0px;
	z-index: 9999;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

header .container .row{
	padding: 20px 0 30px 0;
}

header .container .row ul{
	list-style-type: none;
}

header .container .row ul li{
	display: inline-block;
}

header .container .row ul.main-nav li a{
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 800;
}

header .container .row ul.main-nav{
	margin-top: 17px;
}

header .container .row ul.main-nav li{
	margin-left: 40px;
}

header .container .row ul.sec-nav li a{
	color: #00a5d3;
	font-size: 14px;
	font-weight: 400;
}

header .container .row ul.sec-nav{
	margin-top: 20px;
}

header.sticky .container .row{
	padding: 10px 0 10px 0;
}

header .container .row ul.sec-nav li{
	margin-left: 35px;
}

section.intro{
	background: url('../images/intro.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

section.intro .container .row{
	padding: 40px 0 80px 0;
}

section.intro .container .row .content{
	padding: 35px 40px;
	background-color: rgba(255, 255, 255, 0.3);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.75); /* drop shadow */
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.75); /* drop shadow */
	box-shadow: 0 0 10px rgba(0,0,0,.75); /* drop shadow */
	position: relative;
}

section.intro .container .row .content .button-platform{
	position: absolute;
	left: 50%;
	margin-left: -223px;
	bottom: -32px;
}

.button-platform{
	display: inline-block;
	color: white;
	font-weight: 600;
	font-size: 20px;
	padding: 15px 0;
	text-align: center;
	width: 446px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #2f3741; /* layer fill content */
}

.button-platform img{
	margin-left: 15px;
}

.button-platform:hover,
.button-git:hover{
	text-decoration: none;
	color: white;
	opacity: 0.9;
}

.goToTop{
	left: 50%;
	position: absolute;
	top: -23px;
	margin-left: -23px;
	cursor: pointer;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
}

.goToTop:hover{
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}

.button-git{
	display: inline-block;
	padding: 16px 70px 16px 20px;
	font-size: 20px;
	margin-top: 40px;
	font-weight: 600;
	text-align: center;
	color: white;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* border radius */
	background: #5e7c8f url('../images/git-bg.png') no-repeat 93%;
}

section.titanium{
	background: #2f3742 url('../images/titanium-bg.jpg') no-repeat;
	background-position: 0 100%;
}

section.titanium .container .row,
section.hyperloop .container .row{
	padding: 80px 0 60px 0;
}

section.titanium .container .row ul,
section.alloy .container .row ul{
	margin-left: 35px;
}

section.titanium .container .row ul li,
section.alloy .container .row ul li{
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 10px;
}

section.titanium .container .row ul li{
	color: white;
}

section.titanium .container .row .col-md-5 img,
section.hyperloop .container .row .image img{
	position: absolute;
	top: 0;
	left: 0;
}

section.titanium .container .row .image .inner{
	max-width: 100%;

}

section.titanium .container .row .image .inner,
section.hyperloop .container .row .content,
section.hyperloop .container .row .image,
section.alloy .container .row .box-one,
section.alloy .container .row .box-two,
section.alloy .container .row .box-three,
section.about .container .row .inner{
	opacity: 0;
}


section.titanium .container .row .content .inner{
	opacity: 1;
}

section.alloy{
	background-color: #f3f4f4;
}

section.alloy .container .row{
	padding: 60px 0 90px 0;
}

section.alloy .container .row .box-one img{
	margin-left: 80px;
}

section.alloy .container .row .box-two img{
	position: absolute;
	top: 0;
	right: 0;
}

section.hyperloop{
	background: url('../images/hyperloop-bg.png') no-repeat left 50%;
}

section.about{
	background-color: #5e7c8f;
}

section.about .container .row{
	padding: 60px 0;
}

section.about .container .row h3{
	font-size: 30px;
	font-weight: 800;
	line-height: 36px;
	color: white;
	margin-bottom: 15px;
}

section.about .container .row p{
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
	color: white;
}


section.about .container .button-platform{
	width:480px;
}

footer{
	background: url('../images/footer-bg.jpg') repeat;
	position: relative;
}

footer .container .row{
	padding: 45px 0;
}

footer .container .row ul{
	list-style-type: none;
}

footer .container .row ul li{
	display: inline-block;
}

footer .container .row .first ul li a{
	color: #00a5d3;
	font-size: 16px;
	font-weight: 600;
	margin-right: 30px;
}

footer .container .row .first ul li:last-of-type a{
	margin-right: 0;
}

footer .container .row p.big{
	font-size: 16px;
	font-weight: 800;
	color: white;
}

footer .container .row ul.social li a{
	display: block;
	background: url('../images/social.png') no-repeat;
	width: 30px;
	height: 30px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

footer .container .row ul.social li a.twitter{
	background-position: 0 0;
}

footer .container .row ul.social li a.github{
	background-position: -152px 0;
}

footer .container .row ul.social li a.linkedin{
	background-position: -190px 0;
}

footer .container .row ul.social li{
	margin-left: 8px;
}

footer .container .row .last ul li{
	margin-left: 10px;
}

footer .container .row .last ul li a{
	font-size: 12px;
	color: white;
}

footer .container .row p{
	font-size: 13px;
	line-height:24px;
	font-weight: 400;
	color: #c2c2c2;
}

footer .container .row p a{
	color: white;
	text-decoration: none;
}

footer .container .row p a:hover{
	text-decoration: underline;
}

footer .container .row .line{
	height: 1px;
	width: 100%;
	display: block;
	margin-bottom: 25px;
	background-color: #3d4755;
}

.mobile-menu{
	display: block;
	padding: 20px;
	position: absolute;
	top: 0px;
	right: 0px;
	display: none;
}


/*  media queries */



@media screen and (max-width: 1500px) {

	section.hyperloop{
		background-size: 18%;
	}

}


@media screen and (max-width: 991px) {

	section.titanium .container .row .col-md-5 img,
	section.hyperloop .container .row .image img,
	section.alloy .container .row .box-two img{
		position: relative;
		max-width: 100%;
	}

	section.titanium .container .row .image,
	section.hyperloop .container .row .image,
	section.alloy .container .row .box-two{
		margin-top: 50px;
	}

	section.titanium,
	section.hyperloop{
		background-image: none;
	}

	header .container .row ul.main-nav{

	}

	header .container .row ul.main-nav li,
	header .container .row ul.sec-nav li{
		margin-left: 30px;
	}

	header .container .row ul.main-nav li a{
		font-size: 15px;
		font-weight: 600;
	}

	.wrapper{
		margin-top: 100px;
	}

}


@media screen and (max-width: 768px) {

	footer .container .row p.big,
	footer .container .row ul{
		float: left;
	}

	footer .container .row p{
		margin-bottom: 10px;
	}

	footer .container .row .line{
		margin-bottom: 5px;
	}

	footer .container .row ul.social li:first-of-type,
	footer .container .row .last ul li:first-of-type{
		margin-left: 0;
	}

	section.intro .container .row,
	section.intro .container .row .content{
		padding: 20px;
	}

	section.intro .container .row .content{
		margin-bottom: 20px;
	}

	section.titanium .container .row,
	section.hyperloop .container .row,
	section.about .container .row,
	section.alloy .container .row{
		padding: 30px 0;
	}

	section.about img.about-appc {
		margin-bottom:20px;
	}

	header .container .row ul{
		width: 100%;
		margin-top: 0;
		margin-bottom: 0;
	}

	header .container .row ul li{
		margin-left: 0;
		padding-left: 20px;
	}

	header .container .row ul.main-nav li, header .container .row ul.sec-nav li{
		margin-left: 0;
	}

	.wrapper{
		margin-top: 60px;
	}

	header .container .row{
		padding: 10px 0 10px 0;
	}

	header .container .row ul.sec-nav{
		margin-top: 0;
	}

	header .container .row ul.main-nav li a,
	header .container .row ul.sec-nav li a{
		color: white;
		font-size: 15px;
		padding: 8px 0;
		display: block;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 500;
	}

	header .container .row ul.main-nav li a:hover,
	header .container .row ul.sec-nav li a:hover{
		text-decoration: underline;
	}

	header .container .row ul.main-nav li,
	header .container .row ul.sec-nav li{
		border-bottom: 1px solid #2f3742;
	}

	header .container .row ul.main-nav{
		margin-bottom: 0;
	}

	header .container .row ul li{
		display: list-item;
		float: none;
		width: 100%;
	}

	header .container .row .logo{
		float: none;
		margin-left: 20px;
		display: inline-block;
	}

	header .container .row nav{
		display: none;
	}

	.mobile-menu{
		display: block;
	}

	section.titanium .container .row .content .inner{
		overflow: hidden;
	}

}



@media screen and (max-width: 550px) {

	h2{
		font-size: 30px;
		font-weight: 700;
		margin-top: 0;
		line-height: 30px;
		color: black;
		margin-bottom: 25px;
	}

	h3{
		font-size: 25px;
		line-height: 20px;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 20px;
	}

	h4{
		font-size: 24px;
		color: white;
		line-height: 31px;
		font-weight: 800;
		margin-bottom: 0;
	}


	h5{
		font-size: 17px;
		color: #00a5d3;
		line-height: 20px;
		font-weight: 600;
		margin-bottom: 15px;
	}

	p {
		font-size: 15px;
		line-height: 23px;
		font-weight: 400;
		color: black;
		margin-bottom: 25px;
	}

	section.about .container {
		padding:25px 10px;
	}

	section.about .container .row h3 {
		font-size: 20px;
		font-weight: 600;
		line-height: 25px;
		color: white;
		margin-bottom: 10px;
	}

	section.about .container .row p {
		font-size: 18px;
		font-weight: 300;
		line-height: 26px;
		color: white;
	}

	.button-platform{
		font-size: 16px;
		width: 300px;
	}

	.button-platform img{
		display: none;
	}

	section.intro .container .row .content .button-platform{
		margin-left: -160px;
	}

	.button-git {
		padding: 12px 59px 12px 20px;
		font-size: 15px;
		margin-top: 15px;
	}

	section.alloy .container .row .box-one img{
		float: none;
		margin-left: 0;
	}
	section.alloy .container .row .box-two {
		margin-top:10px;
	}

	section.intro .container .row, section.intro .container .row .content{
		padding: 10px;
	}

	section.about .container .button-platform{
		width:100%;
	}

}


@media screen and (max-width: 400px) {
	section.intro .container .row .content .button-platform{
		position: relative;
		margin: 0 auto;
		left: none;
		bottom: 0;
		left: 0;
		width: 100%;
	}

}
